<div class="row botonesEdicion">
  <button class="btn btn-normal"> <i class='glyphicon glyphicon-plus'></i> Crear un evento</button>
  ||
  <button class='btn btn-normal' {{action 'zoomOut'}}> <i class='glyphicon glyphicon-zoom-out'></i> </button>
  <button class='btn btn-normal' {{action 'zoomReset'}}> <i class='glyphicon glyphicon-resize-horizontal'></i> </button>
  <button class='btn btn-normal' {{action 'zoomIn'}}> <i class='glyphicon glyphicon-zoom-in'></i>  </button>
  ||
  <button class='btn btn-normal' {{action 'capture'}}> <i class='glyphicon glyphicon-camera'></i> Exportar </button>
</div>

<div id='timeline' class='row'>
  hola??
</div>


<input id='saveInput' type="file" nwsaveas="linea_de_tiempo.png" />
