<div class="row">
  <button class='btn btn-normal' {{action 'zoomOut'}}> <i class='glyphicon glyphicon-zoom-out'></i> </button>
  <button class='btn btn-normal' {{action 'zoomReset'}}> <i class='glyphicon glyphicon-resize-horizontal'></i> </button>
  <button class='btn btn-normal' {{action 'zoomIn'}}> <i class='glyphicon glyphicon-zoom-in'></i>  </button>

  ||

  <button class='btn btn-normal' {{action 'capture'}}> <i class='glyphicon glyphicon-camera'></i>  </button>

</div>

<div id='timeline'>
  hola??
</div>
