<div class="row">
  {{#link-to "index" class='btn btn-normal'}}Regresar{{/link-to}}
  <h3 {{action "cambiarTitulo"}} class='titulo'>{{titulo}}</h3>
</div>

{{#huayra-linea}}{{/huayra-linea}}

{{#modal-form id="titulo-form" on-submit="guardar" on-cancel="cancelar"}}

  {{#modal-title}}Cambiando el título{{/modal-title}}

  <div class="form-group">
    <label class="control-label" for="focusedInput">Título</label>
    {{input class='form-control' id="name" autofocus=true value=model.titulo}}
  </div>

  <div class='modal-buttons'>
    <button class='btn btn-normal' type="submit">Guardar</button>
  </div>

{{/modal-form}}
