<div class="row">
  {{#link-to "index" class="btn btn-normal"}}Regresar{{/link-to}}
</div>


<div class="table-proyectos">

  <table class='table table-bordered table-container'>
    <thead>
      <tr>
        <th colspan=2>Proyectos existentes</th>
      </tr>
    </thead>

    <tbody>
      {{#each model as |m|}}
        <tr>
          <td>
          {{#link-to "edit" m class='table-proyectos-item'}}{{m.titulo}}{{/link-to}}
          </td>

          <td class='table-proyectos-acciones'><button {{action 'borrar' m}} class='btn white btn-xs btn-danger'>borrar</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan=2>No se han creado lineas de tiempo aún.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>
