<div class="row">
  <h1>Huayra - Linea de Tiempo</h1>
  <p>Versión 0.0.2</p>
</div>


<div class="row botones">

  <p>
    {{#link-to "gallery" class="btn btn-normal"}}Explorar existentes{{/link-to}}
    {{#link-to "new" class="btn btn-normal"}}Crear una linea de tiempo nueva{{/link-to}}
  </p>

</div>
