<div class="row center">
  <p><img src='images/logo.png'></p>

  <h1>Huayra - Linea de Tiempo</h1>
  <p class='version-text'>Versión 1.3.0</p>
</div>


<div class="row botones center">

  <p>
    {{#link-to "gallery" class="btn btn-lg btn-default"}}<span class="glyphicon glyphicon-folder-open icon" aria-hidden="true"></span> Explorar existentes{{/link-to}}
    <a href="" {{action "crearNuevo"}} class="btn btn-lg btn-default"><span class="glyphicon glyphicon-plus icon" aria-hidden="true"></span> Crear una linea de tiempo nueva</a>
  </p>

</div>
