<div class="row">
  <h1>Huayra - Linea de Tiempo</h1>
</div>

<div class="row">

  <p>
    {{#link-to "gallery" class="btn btn-normal"}}Abrir uno existente{{/link-to}}
    {{#link-to "new" class="btn btn-normal"}}Crear una nueva linea de tiempo{{/link-to}}
  </p>

</div>
